// https://github.com/databricks/jsonnet-style-guide#file-structure

function (tfOut, acmeEmail) [{
apiVersion: 'apps/v1',
kind: o.kind,
metadata: {
  name: o.name,
},
spec: {
  template: {
    spec: {
      [if !o.isInit then 'containers' else 'initContainers']: [
          {
            name: o.container,
            env: [
              { name: var.name, value: var.value } for var in o.env
            ]
          }
        ]
      }
    }
  }
} for o in [
  { kind: 'Deployment', name: 'adder', container: 'adderinit', isInit: true,
    env: [{ name: 'PROJECT_ID', value: tfOut.gcp_project_id.value }]
  },
  { kind: 'Deployment', name: 'traefik-web', container: 'traefik', isInit: false,
    // TODO: make ACME_EMAIL a ledger tf variable
    env: [{ name: 'ACME_EMAIL', value: acmeEmail }]
  },
  { kind: 'StatefulSet', name: 'node', container: 'quethinit', isInit: true,
    env: [
      { name: 'BUCKET', value: tfOut.cluster_bucket.value },
      { name: 'PROJECT_ID', value: tfOut.gcp_project_id.value }
      ]
  },
  ]
]
